/live_streams.sii
/user_settings.json.bak
/venv
sh-add USERPROFILE.sshid_ed25519
/build
/dist/editor-radio
*.iss
*.webmanifest
/bkp_live_streams.sii
/Radios.txt
backup/*
.coverage
__pycache__/
*.pyc
.coveragerc
